* {
  box-sizing: border-box;
  margin: 0;
}
.bg-img {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1666760012382-fbe424732e4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  height: 70px;
  background-color: rgb(80, 110, 136);
}
.nav-link {
  text-align: center;
}
body {
  flex-direction: column;
}
ul {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  padding-inline-start: 0;
}
li {
  list-style: none;
}
.bg-img,
.bg-img-2,
.bg-img-3,
.bg-img-4,
.bg-img-5 {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: aliceblue;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  box-shadow: 10px 5px 14px 5px;
}

.bg-img {
  background-image: url(https://images.unsplash.com/photo-1666866011772-7c9442d479bd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDF8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  /* margin-top: 20em; */
}
.bg-img-2 {
  background-image: url(https://images.unsplash.com/photo-1666760012382-fbe424732e4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
}
.bg-img-3 {
  background-image: url(https://images.unsplash.com/photo-1666827717869-448a0adcd4ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
}
.bg-img-4 {
  background-image: url(https://images.unsplash.com/photo-1666760012382-fbe424732e4d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDV8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
}
.bg-img-5 {
  background-image: url(https://images.unsplash.com/photo-1666827717869-448a0adcd4ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDJ8aVVJc25WdGpCMFl8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
}
h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: burlywood;
}
h2 {
  background-color: bisque;
  font-size: 70px;
  padding: 20px 30px;
  border-radius: 5px;
}

/* .section-info {
  height: 10vh;
} */
h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 50px;
}
p {
  margin-inline: 100px;
  margin-top: 50px;
  font-size: 25px;
}
a:visited {
  color: aquamarine;
}
a:hover {
  color: green;
}
button {
  font-size: 4em;
  transition: 0.5s;
  /* align-items: center; */
  border: none;
  border-radius: 10%;
  display: inline-block;
  margin: 0;
  padding: 0;
}
button:hover {
  background-color: black;
  color: wheat;
  border-radius: 10px;
}
p {
  margin-top: 10px;
}
.tst-btn {
  text-align: center;
  /* display: flex; */
  /* flex-direction: row; */
  background-color: gray;
  /* align-items: center; */
  display: block;
  margin-left: 45%;
}
